<!DOCTYPE html>
<html lang="en" style="font-size:37.5px">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>蚂蜂窝_目的地</title>
  <script type="text/javascript" src="../../js/common.js"></script>
  <link rel="stylesheet" href="../../../static/css/mafengwo/mfw_04.css">
</head>
<body>
  <header>
    <i class="back"></i>
    <i class="logo"></i>
    <div><span><i>搜索目的地/攻略/游记/问答</i></span><em></em></div>
  </header>

  <section>
    <aside>
      <ul>
        <li class="cur">国内</li>
        <li>欧洲</li>
        <li>美洲</li>
        <li>非洲</li>
        <li>东南亚</li>
        <li>日韩</li>
        <li>澳洲</li>
      </ul>
    </aside>

    <div class="list" id="list" style="height:617px">
      <div class="area">
        <p class="title">直辖市<i></i></p>
        <div class="table">
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
        </div>
      </div>
      <div class="area">
        <p class="title">直辖市<i></i></p>
        <div class="table">
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
        </div>
      </div>
      <div class="area">
        <p class="title">直辖市<i></i></p>
        <div class="table">
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
        </div>
      </div>
      <div class="area last">
        <p class="title">直辖市<i></i></p>
        <div class="table">
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
            <a href="">
               <div class="_img"><img src="https://b4-q.mafengwo.net/s7/M00/2E/D4/wKgB6lSgx0KAAtuCAAVoSPI1DUk40.jpeg?imageMogr2%2Fthumbnail%2F%21150x150r%2Fgravity%2FCenter%2Fcrop%2F%21150x150%2Fquality%2F100" alt=""></div>
               <span>北京</span>
            </a>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
      function list(){
        var sheight = window.screen.height,
            swidth = window.screen.width,
            list = document.getElementById('list');
        list.setAttribute('style',['height:',(sheight-50),'px;width:',(swidth - 90),'px'].join(''));
      }
      list()
      window.addEventListener('resize',list);
      window.addEventListener('orientation',list);
  </script>
</body>
</html>
