<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>蚂蜂窝_找攻略</title>
  <link rel="stylesheet" href="../../../static/css/mafengwo/mfw_01.css">
</head>
<body>
    <header>
        <figure>
          <img src="https://css.mafengwo.net/mobile/images/header/logo204.png" alt="蚂蜂窝">
        </figure>
        <div>
           <a href="#">官网首页</a>
           <i></i>
        </div>
    </header>
    <div class="wrapper">
        <p class="search"><span>搜索目的地</span></p>
        <div class="banner">
          <img src="https://c2-q.mafengwo.net/s9/M00/1A/14/wKgBs1eOM3GAZpoMAAxqG1LvQ6U68.jpeg?imageMogr2%2Fthumbnail%2F%21750x300r%2Fgravity%2FCenter%2Fcrop%2F%21750x300%2Fquality%2F100" alt="">
          <a href="http://www.mafengwo.cn/weixin/article-1567.html">7月当季目的地推荐</a>
        </div>
        <section>
            <a href="#" class="item_title">
               <p>热门目的地<i></i></p>
               <span>最受大家喜欢的目的地推荐</span>
            </a>
            <div class="scroll">
                <div class="bar">
                    <div class="kao cur"><a href="" class="first">国内</a></div>
                    <div class="cur"><a href="">日韩</a></div>
                    <div><a href="">非洲</a></div>
                    <div><a href="">美洲</a></div>
                    <div><a href="">欧洲</a></div>
                    <div><a href="">澳洲</a></div>
                    <div><a href="" class="last">港澳台</a></div>
                </div>
            </div>
            <div class="location">
              <a href="#">
                <figure>
                  <img src="https://a1-q.mafengwo.net/s7/M00/E0/59/wKgB6lT136SAIe0lAA1SzXHZQJw87.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>首尔</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b4-q.mafengwo.net/s8/M00/F2/01/wKgBpVYkXbGAKXrIAAHvh_yTnS807.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>东京</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b3-q.mafengwo.net/s8/M00/4E/35/wKgBpVXQYiyALbdLAAVaO6591W802.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>大阪</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://a4-q.mafengwo.net/s9/M00/95/64/wKgBs1ZLA8mAdvahAAIOXCk0Pq842.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>济州岛</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://c4-q.mafengwo.net/s9/M00/25/35/wKgBs1fNERqAYp3VAB5Ar7kj8KI34.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>札幌</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://n3-q.mafengwo.net/s8/M00/52/89/wKgBpVYYyAGAaDUAAAyEnMKD1mc96.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>京都</span>
              </a>
            </div>
            <button>更多目的地</button>
        </section>
        <section>
            <a href="#" class="item_title">
               <p>当季推荐<i></i></p>
               <span>每月最适合前往的目的地推荐</span>
            </a>
            <div class="scroll">
                <div class="bar">
                    <div class="kao cur"><a href="" class="first">1月</a></div>
                    <div class="cur"><a href="">2月</a></div>
                    <div><a href="">3月</a></div>
                    <div><a href="">4月</a></div>
                    <div><a href="">5月</a></div>
                    <div><a href="">6月</a></div>
                    <div><a href="" class="last">7月</a></div>
                </div>
            </div>
            <div class="location">
              <a href="#">
                <figure>
                  <img src="https://a1-q.mafengwo.net/s7/M00/E0/59/wKgB6lT136SAIe0lAA1SzXHZQJw87.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>首尔</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b4-q.mafengwo.net/s8/M00/F2/01/wKgBpVYkXbGAKXrIAAHvh_yTnS807.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>东京</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b3-q.mafengwo.net/s8/M00/4E/35/wKgBpVXQYiyALbdLAAVaO6591W802.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>大阪</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://a4-q.mafengwo.net/s9/M00/95/64/wKgBs1ZLA8mAdvahAAIOXCk0Pq842.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>济州岛</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://c4-q.mafengwo.net/s9/M00/25/35/wKgBs1fNERqAYp3VAB5Ar7kj8KI34.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>札幌</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://n3-q.mafengwo.net/s8/M00/52/89/wKgBpVYYyAGAaDUAAAyEnMKD1mc96.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>京都</span>
              </a>
            </div>
            <button>更多目的地</button>
        </section>
        <section>
            <a href="#" class="item_title">
               <p>主题精选<i></i></p>
               <span>大量主题出行，个性化你的旅行</span>
            </a>
            <div class="scroll">
                <div class="bar">
                    <div class="kao cur"><a href="" class="first">全年适宜</a></div>
                    <div class="cur"><a href="">季节</a></div>
                    <div><a href="">出行方式</a></div>
                    <div><a href="">节假日</a></div>
                    <div><a href="">欧洲</a></div>
                    <div><a href="">澳洲</a></div>
                    <div><a href="" class="last">港澳台</a></div>
                </div>
            </div>
            <div class="location">
              <a href="#">
                <figure>
                  <img src="https://a1-q.mafengwo.net/s7/M00/E0/59/wKgB6lT136SAIe0lAA1SzXHZQJw87.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>首尔</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b4-q.mafengwo.net/s8/M00/F2/01/wKgBpVYkXbGAKXrIAAHvh_yTnS807.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>东京</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://b3-q.mafengwo.net/s8/M00/4E/35/wKgBpVXQYiyALbdLAAVaO6591W802.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>大阪</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://a4-q.mafengwo.net/s9/M00/95/64/wKgBs1ZLA8mAdvahAAIOXCk0Pq842.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>济州岛</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://c4-q.mafengwo.net/s9/M00/25/35/wKgBs1fNERqAYp3VAB5Ar7kj8KI34.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>札幌</span>
              </a>
              <a href="#">
                <figure>
                  <img src="https://n3-q.mafengwo.net/s8/M00/52/89/wKgBpVYYyAGAaDUAAAyEnMKD1mc96.jpeg?imageMogr2%2Fthumbnail%2F%21206x170r%2Fgravity%2FCenter%2Fcrop%2F%21206x170%2Fquality%2F100" alt="">
                </figure>
                <span>京都</span>
              </a>
            </div>
            <button>更多主题</button>
        </section>
    </div>
</body>
</html>
