<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>蚂蜂窝_问答</title>
  <link rel="stylesheet" href="../../../static/css/mafengwo/mfw_03.css">
</head>
<body>
  <header>
    <a href=""></a>
    蚂蜂窝问答
  </header>
  <section class="banner">
    <img src="https://images.mafengwo.net/images/qa/h5_banner.jpg" alt="">
  </section>
  <section class="search">
    <a href=""><i></i></a>
  </section>
  <section class="list">
    <a href="">
      <p class="title">来说说你眼中的台湾是什么样子的？</p>
      <p class="author">
        <img src="https://n4-q.mafengwo.net/s1/M00/17/5D/wKgBm031mYT48UnlAAA459674pQ62.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90" alt="">
        <span>小贝</span>
      </p>
      <div class="desc">
        <figure>
          <img src="https://n4-q.mafengwo.net/s9/M00/FC/FA/wKgBs1dWbmqANC5_AAaicCM1Gyg195.png?imageMogr2%2Fthumbnail%2F%21140x105r%2Fgravity%2FCenter%2Fcrop%2F%21140x105%2Fquality%2F90" alt="">
        </figure>
        <article>对台湾的认识，感觉还挺复杂的，分阶段来说吧。在最初的时候，我眼中的台湾就是那些游记照片中的样子，有美到不真实的鹅卵石和清水断崖，有吃不完的夜市和让人馋嘴小吃。是九把刀笔下《那些年》的样子，有幼稚的男孩和说起话来嗲嗲的女孩， 有...</article>
      </div>
      <p class="foot">
        <span class="location">台湾</span>
        <span class="sm">
          <em><b>237345</b>浏览</em>·<em><b>351</b>回答</em>·<em class="zan">8206顶</em>
        </span>
      </p>
    </a>
    <a href="">
      <p class="title">来说说你眼中的台湾是什么样子的？</p>
      <p class="author">
        <img src="https://n4-q.mafengwo.net/s1/M00/17/5D/wKgBm031mYT48UnlAAA459674pQ62.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90" alt="">
        <span>小贝</span>
      </p>
      <div class="desc">
        <figure>
          <img src="https://n4-q.mafengwo.net/s9/M00/FC/FA/wKgBs1dWbmqANC5_AAaicCM1Gyg195.png?imageMogr2%2Fthumbnail%2F%21140x105r%2Fgravity%2FCenter%2Fcrop%2F%21140x105%2Fquality%2F90" alt="">
        </figure>
        <article>对台湾的认识，感觉还挺复杂的，分阶段来说吧。在最初的时候，我眼中的台湾就是那些游记照片中的样子，有美到不真实的鹅卵石和清水断崖，有吃不完的夜市和让人馋嘴小吃。是九把刀笔下《那些年》的样子，有幼稚的男孩和说起话来嗲嗲的女孩， 有...</article>
      </div>
      <p class="foot">
        <span class="location">台湾</span>
        <span class="sm">
          <em><b>237345</b>浏览</em>·<em><b>351</b>回答</em>·<em class="zan">8206顶</em>
        </span>
      </p>
    </a>
    <a href="" class="last">
      <p class="title">来说说你眼中的台湾是什么样子的？</p>
      <p class="author">
        <img src="https://n4-q.mafengwo.net/s1/M00/17/5D/wKgBm031mYT48UnlAAA459674pQ62.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90" alt="">
        <span>小贝</span>
      </p>
      <div class="desc">
        <figure>
          <img src="https://n4-q.mafengwo.net/s9/M00/FC/FA/wKgBs1dWbmqANC5_AAaicCM1Gyg195.png?imageMogr2%2Fthumbnail%2F%21140x105r%2Fgravity%2FCenter%2Fcrop%2F%21140x105%2Fquality%2F90" alt="">
        </figure>
        <article>对台湾的认识，感觉还挺复杂的，分阶段来说吧。在最初的时候，我眼中的台湾就是那些游记照片中的样子，有美到不真实的鹅卵石和清水断崖，有吃不完的夜市和让人馋嘴小吃。是九把刀笔下《那些年》的样子，有幼稚的男孩和说起话来嗲嗲的女孩， 有...</article>
      </div>
      <p class="foot">
        <span class="location">台湾</span>
        <span class="sm">
          <em><b>237345</b>浏览</em>·<em><b>351</b>回答</em>·<em class="zan">8206顶</em>
        </span>
      </p>
    </a>
  </section>
  <section class="more">
    <a href="">更多问题</a>
  </section>
  <footer>
    <a href="">我要提问</a>
  </footer>
</body>
</html>
