* {
  margin: 0;
  padding: 0;
  color: #000;
  font-style: normal;
  -webkit-tap-highlight-color: transparent; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #fff; }

header {
  height: 49px;
  border-bottom: 1px solid rgba(209, 210, 219, 0.5);
  position: relative; }
  header .back {
    background: url("https://css.mafengwo.net/mobile/images/header/i_head5.png") no-repeat;
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: 50px;
    background-size: 100px; }
  header .logo {
    position: absolute;
    right: 0;
    background: url("http://css.mafengwo.net/mobile/images/header/logos100x60.png") no-repeat;
    float: right;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: 50px;
    background-position: 0 10px; }
  header div {
    margin: 0 auto;
    height: 50px;
    padding: 0 75px;
    display: flex;
    align-items: center;
    font-size: 0; }
    header div span {
      height: 26px;
      background-color: #f0f0f0;
      display: inline-block;
      width: 100%;
      border-radius: 20px;
      padding-left: 12px;
      position: relative;
      overflow: hidden;
      padding-right: 36px; }
      header div span i {
        font-size: 11px;
        color: #999;
        overflow: hidden;
        width: 100%;
        line-height: 26px;
        display: inline-block;
        white-space: nowrap; }
    header div em {
      position: absolute;
      right: 87px;
      height: 17px;
      width: 17px;
      background: url("https://css.mafengwo.net/mobile/images/header/btn_search2.png") no-repeat;
      background-size: 17px;
      top: 17px;
      display: inline-block; }

section {
  width: 100%; }

aside {
  width: 89px;
  float: left; }
  aside li {
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid rgba(209, 210, 219, 0.5); }
    aside li.cur {
      color: #ff9d00;
      position: relative; }
      aside li.cur::before {
        content: '';
        width: 4px;
        background-color: #ff9d00;
        position: absolute;
        display: inline-block;
        left: 0;
        top: 35%;
        height: 16px; }

.list {
  float: right;
  width: 7.57333rem;
  border-left: 1px solid rgba(209, 210, 219, 0.5);
  overflow: auto; }
  .list .area {
    padding-left: 15px;
    border-bottom: 1px solid rgba(209, 210, 219, 0.5); }
    .list .area.last {
      border-bottom: 0; }
    .list .area .title {
      height: 45px;
      color: #999;
      font-size: 15px;
      line-height: 45px;
      position: relative; }
      .list .area .title i {
        position: absolute;
        right: 0;
        display: inline-block;
        height: 38px;
        width: 38px;
        background: url("https://css.mafengwo.net/mobile/images/mdd/i_index.png") no-repeat;
        background-size: 75px;
        background-position: 3px 16px; }
    .list .area .table {
      display: flex;
      flex-wrap: wrap; }
      .list .area .table a {
        height: 3.01333rem;
        width: 1.97333rem;
        margin-right: 15px; }
        .list .area .table a ._img, .list .area .table a img {
          height: 1.97333rem;
          width: 1.97333rem; }
        .list .area .table a span {
          font-size: 14px;
          line-height: 39px;
          text-align: center;
          display: block; }
