<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo_04</title>
  <link rel="stylesheet" href="../../../static/css/sogou/demo_04_win.css">
</head>
<body>
    <div class="info" style="display:none">文章已删除</div>
    <header>
      <a href="#" class="return"></a>
      医院详情
      <a href="#" class="zan"></a>
      <a href="#" class="more"></a>
    </header>
    <div class="detail">
      <section class="summary">
          <div class="up">
            <figure>
              <img src="http://img03.sogoucdn.com/app/a/200773/6ba33e7481095a01b1a3bcfb93b9783c" alt="医院">
            </figure>
            <div>
                <p class="title">北京市海淀医院</p>
                <p class="tag">
                  <i>三级</i>
                  <i>医保</i>
                  <i>定点</i>
                </p>
                <p class="point">
                  <span class="gray"><span class="gold"></span></span>2.0</p>
                <span class="err">纠错</span>
            </div>
          </div>
          <div class="down">
            <address>
                <i class="location"></i>
                北京市海淀区中关村大街29号
            </address>
            <i class="phone"></i>
          </div>
      </section>

      <ul class="tab">
        <li>医院信息</li>
        <li class="cur">就医指南</li>
        <li>患者讨论区</li>
      </ul>

      <div class="tab2">
        <section class="tieshi">
            <dl>
              <dt>就诊小贴士</dt>
              <dd>1.海淀医院号源相对充足，通常无需排队（尤其是下午）<br>2.海淀医院急诊科可以打狂犬疫苗<br>3.常见检查无需排队（核磁/CT/X射线）通常可以预约第2天检查，第3天拿结果</dd>
            </dl>
            <p><i></i></p>
        </section>
        <section class="guahao">
          <div class="head">线上挂号</div>
          <p><i class="i1"></i>平台挂号：北京市统一挂号平台</p>
          <p class="p2"><i class="i2"></i>电话挂号：010-114</p>
          <p><i class="i3"></i>医院APP挂号：北京114预约挂号APP</p>
        </section>
        <section class="jizhen">
          <div class="head">急诊信息</div>
          <p>急诊疾病：急性心肌梗死、急性脑血管病、多发伤等</p>
          <p>急诊电话：医院总机:010-82619999</p>
        </section>
        <section class="traffic">
          <dl>
            <dt>交通信息</dt>
            <dd>行车路线：公交车332、320、302、355、716、718、732、727、725、717、808、801、814、816、944路车等在海淀黄庄下车即可到达海淀医院</dd>
          </dl>
        </section>
      </div>
      <footer>
        <ul>
          <li><i class="i1"></i>分享经验</li>
          <li><i class="i2"></i>我要提问</li>
        </ul>
      </footer>
    </div>
</body>
</html>
