<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo_05</title>
  <link rel="stylesheet" href="../../../static/css/sogou/demo_05.css">
</head>
<body>
    <div class="info" style="display:none">文章已删除</div>
    <header>
      <a href="#" class="return"></a>
      医院详情
      <a href="#" class="zan"></a>
      <a href="#" class="more"></a>
    </header>
    <div class="detail">
      <section class="summary">
          <div class="up">
            <figure>
              <img src="http://img03.sogoucdn.com/app/a/200773/6ba33e7481095a01b1a3bcfb93b9783c" alt="医院">
            </figure>
            <div>
                <p class="title">北京市海淀医院</p>
                <p class="tag">
                  <i>三级</i>
                  <i>医保</i>
                  <i>定点</i>
                </p>
                <p class="point">
                  <span class="gray"><span class="gold"></span></span>2.0</p>
                <span class="err">纠错</span>
            </div>
          </div>
          <div class="down">
            <address>
                <i class="location"></i>
                北京市海淀区中关村大街29号
            </address>
            <i class="phone"></i>
          </div>
      </section>

      <div class="tab">
        <ul>
          <li>医院信息</li>
          <li>就医指南</li>
          <li class="cur">患者讨论区</li>
        </ul>
      </div>
      <div class="tab3">
         <section class="forum">
             <p class="dianping">
               <span>医生:<em>2.6</em></span>
               <span>设施:<em>2.8</em></span>
               <span>挂号:<em>2.7</em></span>
               <cite>449条点评</cite>
             </p>
             <div class="block">
                 <p class="name">
                   <img src="http://q.qlogo.cn/qqapp/100294784/DB4C47C2E736E9443733C199F0259BA0/100" width="27" height="27">
                   <span>汤大王</span>
                 </p>
                 <p class="answer">周六周日可以办健康证吗</p>
                 <p class="question">周六周日可以办健康证吗，还用挂号吗</p>
                 <p class="time">
                    <time>2017-06-03</time>
                    <span class="commit">543评论</span>
                    <span class="agree">100赞同</span>
                 </p>
             </div>
             <div class="block">
                 <p class="name">
                   <img src="http://q.qlogo.cn/qqapp/100294784/DB4C47C2E736E9443733C199F0259BA0/100" width="27" height="27">
                   <span>汤大王</span>
                 </p>
                 <p class="answer">周六周日可以办健康证吗周六周日可以办健康证吗周六周日可以办健康证吗周六周日可以办健康证吗周六周日可以办健康证吗周六周日可以办健康证吗周六周日可以办健康证吗</p>
                 <p class="question">周六周日可以办健康证吗，还用挂号吗</p>
                 <p class="time">
                    <time>2017-06-03</time>
                    <span class="commit">543评论</span>
                    <span class="agree">100赞同</span>
                 </p>
             </div>
             <div class="block">
                 <p class="name">
                   <img src="http://q.qlogo.cn/qqapp/100294784/DB4C47C2E736E9443733C199F0259BA0/100" width="27" height="27">
                   <span>汤大王</span>
                 </p>
                 <p class="answer">周六周日可以办健康证吗</p>
                 <p class="question">周六周日可以办健康证吗，还用挂号吗周六周日可以办健康证吗，还用挂号吗周六周日可以办健康证吗，还用挂号吗周六周日可以办健康证吗，还用挂号吗周六周日可以办健康证吗，还用挂号吗</p>
                 <p class="time">
                    <time>2017-06-03</time>
                    <span class="commit">543评论</span>
                    <span class="agree">100赞同</span>
                 </p>
             </div>
         </section>
      </div>
      <footer>
        <ul>
          <li><i class="i1"></i>分享经验</li>
          <li><i class="i2"></i>我要提问</li>
        </ul>
      </footer>
    </div>
</body>
</html>
