<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo_02</title>
  <link rel="stylesheet" href="../../../static/css/sogou/demo_02.css">
  <script type="text/javascript">
      var o = [1,2,3]
      function a(t){
          t.push(4)
      }
      a(o)
      console.log(o)
  </script>
</head>
<body>
  <header><div>可怕优质文章</div></header>
  <div id="result">
      <div class="tab">
          <ul>
              <li class="active">123</li>
              <li>123</li>
              <li>123</li>
              <li>123</li>
              <li>123</li>
              <li>123</li>
              <li>123</li>
          </ul>
      </div>
      <div class="content">
          <ul>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
              <li>
                  <a href="http://m.baikemy.com/kepu/2421965168897" id="item_0">
                    <p class="p1"><strong>如何诊断白血病?</strong></p>
                    <p class="p2">
                        <i><img src="http://pic.baikemy.net/u/817/7089979650817/avatar.jpg" width="20" height="20" alt="#"></i>
                        单渊东-北京协和医院-血液内科
                    </p>
                    <p class="p3">诊断白血病一定要有确切的证据，大多数白血病需经过骨髓穿刺，取骨髓液涂片检查才能确诊。</p>
                    <p class="p4"><span>2017-06-01</span><span>百科名医</span></p></a>
              </li>
          </ul>
          <p class="none">没有更多了~</p>
      </div>

  </div>
</body>
</html>
