<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo_01</title>
  <link rel="stylesheet" href="../../../static/css/sogou/demo_01.css">
</head>
<body>
    <header>
      <a href="javascript:void(0)" class="return"></a>
        看电影
      <a href="javascript:void(0)" class="search"></a>
      <a href="javascript:void(0)" class="more"></a>
    </header>
    <div class="content">
        <div class="tab">
            <ul>
              <li>正在热映</li>
              <li class="active">即将上映</li>
              <li>附近影院</li>
            </ul>
        </div>
        <div class="list">
            <div class="item">
              <div class="left">
                  <div class="want">
                    <p>1.1万人</p>
                    <p class="p3">想看</p>
                  </div>
                  <div class="select">
                    <p class="p1">星球大战</p>
                    <p class="p2">喜剧，古装</p>
                    <p class="p5"><span>何炅/钟欣潼/蔡卓妍/马丽/杜海涛/李维嘉/吴昕</span></p>
                    <p class="p6">2017-06-30上映</p>
                    <div class="buy">预购售票</div>
                  </div>
              </div>
              <div class="right">
                <img src="http://img03.store.sogou.com/v2/thumb/resize/w/142/h/195?url=http://img02.sogoucdn.com/app/a/10010016/70fab24c105934ef75ed8565dceaad5f&appid=10010016">
              </div>
            </div>
        </div>
    </div>

</body>
</html>
