<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo03</title>
  <link rel="stylesheet" href="../../../static/css/sogou/demo_03.css">
</head>
<body>
  <div class="shadow"></div>
  <header>
    <a href="javascript:void(0)" class="return"></a>
      看电影
    <a href="javascript:void(0)" class="search"></a>
    <a href="javascript:void(0)" class="more"></a>
  </header>
  <div class="content">
      <ul class="tab">
        <li>正在热映</li>
        <li>即将上映</li>
        <li class="active">附近影院</li>
      </ul>
      <nav>
        <span class="address">北京市昌平区润枫欣尚</span>
        <span class="choose down">选择地址</span>
      </nav>
      <section>
          <div class="area">
            <ul>
              <li>附近</li>
              <li>朝阳区</li>
              <li>海淀区</li>
              <li>东城区</li>
              <li>西城区</li>
              <li>昌平区</li>
              <li>房山区</li>
              <li>门头沟</li>
              <li>平谷区</li>
              <li>丰台区</li>
              <li>延庆县</li>
              <li>密云县</li>
              <li>怀柔区</li>
              <li>通州区</li>
              <li>石景山</li>
              <li>大兴区</li>
              <li>顺义区</li>
            </ul>
          </div>
      </section>
  </div>
  <div id="list">
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
    <a href="#">
        <div><h4>龙德广场万达影城</h4><i class="zuo">座</i></div>
        <p>北京市昌平区立汤路</p>
        <div class="detail">
          <div><i>￥</i>33</div>
          <span>元起</span>
          <span>16部影片放映</span>
          <span>剩余16场</span>
        </div>
    </a>
  </div>
</body>
</html>
